<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.snapshot.qure.checklist.repository.IChecklistRepository">

    <resultMap id="checklistMap" type="app.snapshot.qure.checklist.model.Checklist">
        <result property="ItemId" column="ITEM_ID" />
        <result property="orderNo" column="ORDER_NO" />
        <result property="label" column="LABEL" />
        <result property="type" column="TYPE" javaType="app.snapshot.qure.checklist.model.ChecklistType" />
        <result property="required" column="REQUIRED" javaType="app.snapshot.qure.checklist.model.Required" />
        <result property="note" column="NOTE" />
        <result property="guideline" column="GUIDELINE" />
        <result property="templateId" column="TEMPLATE_ID" />
    </resultMap>

    <select id="getChecklistById" parameterType="long" resultMap="checklistMap">
        SELECT *
        FROM CHECKLIST_ITEMS
        WHERE TEMPLATE_ID = #{templateId}
        ORDER BY ORDER_NO ASC, ITEM_ID ASC
    </select>

    <!-- 등록 -->
    <insert id="insertChecklistItem" parameterType="app.snapshot.qure.checklist.model.Checklist">
        INSERT INTO CHECKLIST_ITEMS
        (ITEM_ID, ORDER_NO, LABEL, TYPE, REQUIRED, NOTE, GUIDELINE, TEMPLATE_ID)
        VALUES
            (CHECKLIST_ITEMS_SEQ.NEXTVAL, #{orderNo}, #{label}, #{type}, 'Y', NULL, NULL, #{templateId})
    </insert>


</mapper>