<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.snapshot.qure.inspectors.repository.InspectorsRegisterMapper">

    <insert id="insertInspector" parameterType="app.snapshot.qure.inspectors.dto.InspectorRegisterDTO">
        INSERT INTO inspector_profile (inspector_id, name, phone)
        VALUES (inspector_seq.NEXTVAL, #{name}, #{phone})
    </insert>

    <select id="getLastInsertedId" resultType="int">
        SELECT inspector_seq.CURRVAL FROM dual
    </select>

    <select id="findInspectorIdByNameAndPhone" resultType="int">
        SELECT inspector_id
        FROM inspector_profile
        WHERE name = #{name}
        AND phone = #{phone}
    </select>

</mapper>
