<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         id="WebApp_ID">

  <display-name>qure</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:config/mybatis/root-context.xml</param-value>
    </context-param>


    <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:config/mybatis/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>

    <!-- ★ 멀티파트 업로드 설정 -->
    <multipart-config>
        <!-- 업로드 임시 디렉토리 (비워두면 기본 tmp 디렉토리) -->
        <location></location>
        <!-- 파일 하나의 최대 크기 (20MB) -->
        <max-file-size>20971520</max-file-size>
        <!-- 전체 요청 크기 (50MB) -->
        <max-request-size>52428800</max-request-size>
        <!-- 메모리 임계값 (바로 디스크로 쓸 최소 사이즈) -->
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</servlet>


    <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- TODO: 배포 이후 운영 환경에서는 삭제 -->
  <!-- JSP 반영 속도를 위해 Tomcat 기본 서블릿 수동 등록  -->
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>

    <!-- 개발 모드: JSP 수정 시 바로 반영 -->
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>fork</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>xpoweredBy</param-name>
      <param-value>false</param-value>
    </init-param>

    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
