body {
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    background: linear-gradient(
      121deg,
      #FFFAE6 50%,
      #FFF 100%
    );
    font-family: 'Pretendard';
    overflow-y: hidden;
}

.left-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 80px;
}

.right-container {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: flex-end;
}

.text-container {
    color: #474D56;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    z-index: 1;
}

.highlight {
    color: #FFC92E;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
}

.kakao-login {
    position: relative;
    z-index: 2;
}

.kakao-login img{
    margin-top: 50px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 12px;
}

.kakao-login:hover img {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.circle-bottom {
    width: 758px;
    height: 758px;
    border-radius: 50%;
    background: radial-gradient(
       72.82% 72.82% at 50% 50%,
       #FFE59A 26.75%,
       #FFF 81.38%,
       #FFF 86.05%
    );
    animation: pulse 4s ease-in-out infinite;
    z-index: 0;
}

.circle-right {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background: radial-gradient(
       72.82% 72.82% at 50% 50%,
       #FFE59A 26.75%,
       #FFF 81.38%,
       #FFF 86.05%
    );
    animation: pulse 4s ease-in-out infinite;
    z-index: 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.9;
    }
}

.inner-container {
    flex-direction: column;
    flex: 1;
}

.dashboard {
    margin-top: -350px;
    position: relative;
    z-index: 1;
    animation: tilt-right 5s ease-in-out infinite;
}


@keyframes tilt-right {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg); /* 오른쪽으로만 기울기 */
    }
    100% {
        transform: rotate(0deg);
    }
}
